*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  /* border:  red solid 1px; */

}

.bg-img{
  background-image: url(https://ik.imagekit.io/a0vaoqpiwv/photo-1481277542470-605612bd2d61.avif?updatedAt=1687094755408);

}
.cardone{
  background-color: #F3EDC0;
}
.cardtwo{
  background-color: #F8E3E3;  
}
.cardthree{
  background-color: #D4EDE5;
}
.roundc{
  height: 40px;
  width: 40px;
  border-radius: 50%;
background-color: #F1D204;
}
ion-icon {
  color: #3AB795;
  font-size: 128px;
  }
  ion-icon[name="trash-outline"] {
    color: red;
    font-size: 16px;
  }
  ion-icon[name="add-circle-outline"] {
    color: blue;
    font-size: 70px;
  }

  #BASIC-CLEANING {
    background-color: #fff;
    color: #000;
    font-size: 18px;
  }